.homeLandingImg{
    height: 700px;
}
.homeLadingText{
    color: white;
}
.homeLadingText h1{
    font-family: 'Oswald', sans-serif;
    font-size: 72px;
}
.homeLadingText span{
    font-family: 'Oswald', sans-serif;
    font-weight: 200;
    letter-spacing: 3px;
    font-size: 18px;
}

.BuyAndRent .ImgCon{
    height: 400px;
}
.BuyAndRent .toPage {
    color: white;
    font-family: 'Oswald', sans-serif;
    font-size: 72px;
    font-weight: 500;
}
.typeAnimation{
    font-family: 'Oswald', sans-serif;
    font-size: 60px;
    font-weight: 500;
}
.notfound{
    height: 500px;
    font-family: 'Oswald', sans-serif;
    font-size: 72px;
    font-weight: 500;
}
.search{
    position: relative;
}
.search input::placeholder{
    font-family: 'Oswald', sans-serif;
}
.search input{
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
}
.search .results{
    background-color: white;
    overflow-y: auto;
    position: absolute;
}
.search .results .links{
    text-decoration: none ;
    color: black;
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
}
.search .results .links:hover{
    color: crimson;

}


@media (max-width: 768px) {
    .typeAnimation{
        font-size: 40px;
    }
    .homeLadingText span {
        font-size: 12px;
    }
    .BuyAndRent .ImgCon {
        height: 300px;
    }
    .notfound{
        font-size: 40px;
    }
}