.homeLandingImg{
    height: 700px;
}
.homeLadingText{
    color: white;
}
.homeLadingText h1{
    font-family: 'Oswald', sans-serif;
    font-size: 72px;
}
.homeLadingText span{
    font-family: 'Oswald', sans-serif;
    font-weight: 200;
    letter-spacing: 3px;
    font-size: 18px;
}

.BuyAndRent .ImgCon{
    height: 400px;
}
.BuyAndRent .toPage {
    color: white;
    font-family: 'Oswald', sans-serif;
    font-size: 72px;
    font-weight: 500;
}
.typeAnimation{
    font-family: 'Oswald', sans-serif;
    font-size: 60px;
    font-weight: 500;
}

@media (max-width: 768px) {
    .typeAnimation{
        font-size: 40px;
    }
    .homeLadingText span {
        font-size: 12px;
    }
    .BuyAndRent .ImgCon {
        height: 300px;
    }
    
}