.sell form label{
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    margin-bottom: 5px;
    cursor: pointer;
}
.previewImg{
    height: 300px;
    border: 1px solid #ccc;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
.delete {
    position: absolute;
right: 0;
}